body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f2f2;

}
*{
    box-sizing: padding-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner{
    width: 100vw;
    height: 20vh;
    background-image: url(https://alivreouvertdotnet.files.wordpress.com/2014/12/poudlard.jpg);
    background-position: 50% 35%;
    filter: brightness(0.6);
    position: relative;
}

.quizz-title{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    color: #ffffff;
    z-index: 1;
}

.question-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    margin: 5vh 0 5vh 0;
    width: 52.5vw;
    height: 75vh;
    padding: 2.1vh 2.5vw 2.1vh 2.5vw;
    background-color: #ffffff;
}

.question{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(128, 0, 128); 
    font-size: 28px;
    width: 100%;
    height: 20%;
     
}

.answers{
    height: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    

}

.answer{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 45%;
    width: 45%;
}
.answer img{
    width: 100%;
    height: 85%;
    
} 


.answer:hover{
    opacity: 0.5;
    color: red;
}

.end-quizz-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 52.5vw;
    height: 37.5vh;
    padding: 2vh 2.5vw 2vh 2.5vw;
}

.end-quizz-title{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: 20%;
    font-size: 23px;
}

.end-quizz-img-message{
    display: flex;
    height: 75%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0 2% 0;
}
.end-quizz-img-message img{
    padding-right: 5%;
    width: 55%;

    
}

.end-quizz-img-message p{
    display: flex;
    justify-content: center;
    width: 45%;
    font-size: 20px;
    
}

.restart-quizz{
    background-color: #EC362D;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 10%;
    height: 5vh;
    margin: 2% 0 2% 0;
    border: none;
}

.back-home{
    color: rgba(129, 129, 129, 1);
    font-size: 20px;
    margin-bottom: 5%;
     ;
}


@media (max-width: 1100px){

    .quizz-title{
        font-size: 26px;
    }
    .question-box{
        width: 65vw;
    }
    
    .question{
        font-size: 22px;  
    }
    
}

@media (max-width: 800px){
    .question-box{
        width: 65vw;
        height: 50vh; 
    }
    
    .question{
        font-size: 16px;
        width: 100%;
        height: 20%;   
    }
    .quizz-title{
        font-size: 20px;
    }
    
    .answers{
        height: 77%; 
    }

    .answer{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        width: 45%;
    }
}


@media(max-width: 520px) {
    .banner{
        height: 18vh;
    }

    .question-box{
        width: 85vw;
        height: 45vh; 
    }
    
    .question{
        font-size: 12px;
        width: 100%;
        height: 20%;   
    }
    .quizz-title{
        font-size: 20px;
    }
    
    .answers{
        height: 77%; 
    }

    .answer{
        font-size: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        width: 45%;
    }
    .answer:hover{
        opacity: 0.5;
        color: red;
    }
    .end-quizz-img-message{
        display: flex;
        height: 75%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0 2% 0;
    }
    .end-quizz-img-message p{
        width: 80%;
    }
    .end-quizz-img-message img{
        width: 80%;
    }

    .end-quizz-title{
        height: 15%;
        font-size: 14px;
        text-align: center;
    }
    .end-quizz-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        background-color: #ffffff;
        width: 65vw;
        height: 70vh;
        padding: 2vh 2.5vw 2vh 2.5vw;
    }
    .restart-quizz{
        font-size: 12px;
        width: 18vw;
        height: 6vh;
    }
    
    .back-home{
        font-size: 12px;
    }
    
}