@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
    height: 69px;
    width: 100%;
    background-color: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1{
    color: #ffffff;
    font-size: 37px;
    font-weight: bold;
}

.main {
    margin: 0 auto;
    margin-top: 100px;
    width: 1051px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.user-quizzes-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    align-self: flex-start;
}

.user-quizzes-title h1{
    margin-bottom: 0;
}

h2.title{
    margin-top: 20px;
}

.user-quizzes-title h1{
    margin-right: 10px;
}

.user-quizzes-title .icon{
    color: #ec362d;
    font-size: 30px;
}

ul.user-quizzes, 
ul.other-quizzes{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.no-user-quizzes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 181px;
    width: 100%;
    border: 1px dashed #d5d5d5;
    background-color: #fafafafa;
}

.no-user-quizzes spam{
    width: 250px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    color: #b9b9b9

}

.no-user-quizzes button{
    width: 151px;
    height: 40px;
    margin-top: 15px;
    border: 1px dashed #ec362d;
    background-color: #fafafafa;
    border-radius: 50px;
    font-size: 21px;
    color: #ec362d;

}

.quizz-thumbnail{
    position: relative;
    width: 341px;
    height: 181px;
    margin-bottom: 10px;
    border-radius: 5px;
    }

.quizz-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quizz-thumbnail h1{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #ffffff;
    font-size: 19px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}

.gradient-effect{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
     rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 20px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.content input{
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;  
}

.form-button{
    margin: 50px auto;
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 21px;
    align-self: center;
}

.forms{
    width: 600px;
    align-items: center;
}

.form-title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

.questions,
.levels {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question.wrong-answer{
    margin-bottom: 32px;
}

.question.wrong-answer:last-child{
    margin-bottom: 0;
}

.content.hiden{
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
    margin-top: 24px;
}

.content.hiden ion-icon{
    font-size: 26px;
}

.quizz-finished{
    position: relative;
}

.quizz-finished img{
    width: 500px;
    height: 266px;
    border-radius: 5px;
}

.quizz-finished span{
    position: absolute;
    left: 23px;
    bottom: 23px;
    color: white;
    font-size: 23px;
}

.finish button{
    width: 220px;
    height: 44px;
    margin: 50px auto;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 21px;
    align-self: center;
}


p{
    font-size: 21px;
    color: #818181;
}

.finish{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some{
    display: none;
}

/* joao.css a partir daqui */
.banner{
    top: -31px;
    width: 100vw;
    height: 20vh;
    background-image: url(https://alivreouvertdotnet.files.wordpress.com/2014/12/poudlard.jpg);
    background-position: 50% 35%;
    filter: brightness(0.6);
    position: relative;
}

.quizz-title{
    display: flex;
    position: absolute;
    top:50px;
    left: 0;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: center ;
    font-size: 39px;
    color: #ffffff;
    z-index: 1;
}

.question-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    margin: 5vh 0 5vh 0;
    width: 52.5vw;
    height: 75vh;
    padding: 2.1vh 2.5vw 2.1vh 2.5vw;
    background-color: #ffffff;
}

.question-quizz{
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(128, 0, 128); 
   font-size: 28px;
   width: 100%;
   height: 20%;
   overflow: hidden;    
}
.answers{
    height: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.answer{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    width: 45%;
}
.answer img{
    width: 100%;
    height: 85%;
} 

.opac{
    opacity: 0.5;  
}
.green{
    color: green;
}

.red{
    color:red;
}
.end-quizz-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 52.5vw;
    height: 37.5vh;
    padding: 2vh 2.5vw 2vh 2.5vw;
}

.end-quizz-title{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: 20%;
    font-size: 23px;
   word-wrap: break-word;
}

.end-quizz-img-message{
    display: flex;
    height: 75%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0 2% 0;
}
.end-quizz-img-message img{
    padding-right: 5%;
    width: 55%; 
}

.end-quizz-img-message p{
    display: flex;
    justify-content: center;
    width: 45%;
    font-size: 20px;   
    word-wrap: break-word;
}

.restart-quizz{
    background-color: #EC362D;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 35%;
    height: 5vh;
    margin: 2% 0 2% 0;
    border: none;
}
.back-home{
    color: rgba(129, 129, 129, 1);
    font-size: 20px;
    margin-bottom: 5%;
}

.quizz-answer-text{
    display:block;
    width: 400px;
    font-weight: 700;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; */
    
}

option{
    overflow: hidden;
}

.level-text{
    overflow: hidden;   
}

@media (max-width: 1100px){
    
    .main{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .forms{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .user-quizzes-title{
        justify-content: space-between;
    }

    .quizz-thumbnail{
        margin-right: 0px;
    }
    
    ul.user-quizzes, 
    ul.other-quizzes{
        justify-content: space-around;
    }

    /* .no-user-quizzes{
        width: 90vw;

    } */

    .forms-container{
        width: 100%;
    }

    .form-button{
    width: 324px;
    
    }
    .quizz-title{
        font-size: 26px;
    }
    .question-box{
        width: 65vw;
    }
    
    .question-quizz{
        font-size: 22px;  
    } 
}

@media (max-width: 800px){
    .question-box{
        width: 65vw;
        height: 50vh; 
    }
    
    .question-quizz{
        font-size: 16px;
        width: 100%;
        height: 20%;   
    }
    .quizz-title{
        font-size: 20px;
    }
    
    .answers{
        height: 77%; 
    }

    .answer{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        width: 45%;
    }
}

@media(max-width: 520px) {
    .banner{
        height: 18vh;
    }

    .question-box{
        width: 85vw;
        height: 45vh; 
    }
    
    .question-quizz{
        font-size: 12px;
        width: 100%;
        height: 20%;   
    }
    .quizz-title{
        font-size: 20px;
    }
    
    .answers{
        height: 77%; 
    }

    .answer{
        font-size: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        width: 45%;
    }
    .answer:hover{
        opacity: 0.5;
        color: red;
    }
    .end-quizz-img-message{
        display: flex;
        height: 75%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0 2% 0;
    }
    .end-quizz-img-message p{
        width: 80%;
        text-align: left;
    }
    .end-quizz-img-message img{
        width: 80%;
    }

    .end-quizz-title{
        height: 15%;
        font-size: 14px;
        text-align: center;
    }
    .end-quizz-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        background-color: #ffffff;
        width: 65vw;
        height: 70vh;
        padding: 2vh 2.5vw 2vh 2.5vw;
    }
    .restart-quizz{
        font-size: 12px;
        width: 18vw;
        height: 6vh;
    }
    
    .back-home{
        font-size: 12px;
    }
    
}